$color-primario: #6200ea;

$spacing-scale: (
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px
);

$values-color: (
    rojo: red,
    verde: green,
    blue: blue
);

$pantalla-grande: 1200px;

$tema: claro;