@use "sass:math";
@use "sass:map";
@use "../abstract/maps" as maps;

@mixin respond($breakpoint, $breakpoints) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin state-hover {
  &:hover {
    @content;
  }
}

@mixin state-disabled {
  &:disabled,
  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}