@use "sass:map";
@use "../abstract/maps" as maps;

[data-theme="dark"] {
  --bg: #111111;
  --text: #f5f5f5;
  --surface: #1e1e1e;
  --primary: #{map.get(maps.$colors, primary)};
  --secondary: #{map.get(maps.$colors, secondary)};
  --success: #{map.get(maps.$colors, success)};
  --danger: #{map.get(maps.$colors, danger)};
  --warning: #{map.get(maps.$colors, warning)};
  --info: #{map.get(maps.$colors, info)};
}
